.servicesWrapper{
    padding: 4rem 5rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem;
    row-gap:3rem;
    columns: 1rem;
   
    justify-items:center;
}


.serviceCard{
    cursor: pointer;
    border:2px solid red;
    width: 90%;
    margin:0;
    border-radius:5px;
    overflow: hidden;
    border: 1.6px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.serviceCard > a{
    text-decoration: none;
    color:#000000bb;

}

.serviceCardImage{
    display: block;
    width: 100%;
    height:10rem;
    margin:0;
 
}
.serviceCardDetailsWrapper{
    padding:0.8rem 1rem;
    margin:0;   
}




@media (max-width:1100px) {
    .servicesWrapper{
        grid-template-columns: 1fr 1fr ;
    }

}


@media (max-width:800px) {

    .servicesWrapper{
        grid-template-columns: 1fr;
        padding:2rem 1rem;
        gap: 1rem;
    }

    .imageWrapper{
        width: 100%;
    }
}




