*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


body{
  min-height: 100vh;
  overflow-x: hidden; 
  overflow-y: auto; 
}



.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  min-height: 10rem;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}